; APP ENV
NEXT_PUBLIC_APP_NAME="My App"
NEXT_PUBLIC_SECRET_KEY="your-default-secret-key"
NEXT_PUBLIC_API_KEY="your-default-api-key"
NEXT_PUBLIC_GOOGLE_API_KEY="XXXXXXXXXXX-XXXXXXXXXXX"

; CF TURNSTILE
; NEXT_PUBLIC_CF_TURNSTILE_API="XXXXXXXXXXX"

; EMAIL METHOD (nodemailer/resend)
EMAIL_METHOD=nodemailer

; NODEMAILER
NODEMAILER_SERVICE=gmail
NODEMAILER_USER=user@gmail.com
NODEMAILER_PASS=your-app-password
; NODEMAILER_HOST=smtp.yourdomain.com
; NODEMAILER_PORT=587
; NODEMAILER_SECURE=false
; NODEMAILER_USER=your-smtp-username
; NODEMAILER_PASS=your-smtp-password

; RESEND
RESEND_API_KEY=re_your_api_key_here
RESEND_DOMAIN=noreply@yourdomain.com

; STRIPE
NEXT_PUBLIC_STRIPE_PK=XXXXXXXXXXX
STRIPE_SK=XXXXXXXXXXX

; DATABASE
DATABASE_PROVIDER=supabase

; SUPABASE
POSTGRES_URL="postgres://postgres.xxxxxxxxx:xxxxxxxxx@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="xxxxxxxxx.xxxxxxxxx.xxxxxxxxx"
SUPABASE_SERVICE_ROLE_KEY="xxxxxxxxx.xxxxxxxxx.xxxxxxxxx-xxxxxxxxx"
POSTGRES_URL_NON_POOLING="postgres://postgres.xxxxxxxxx:xxxxxxxxx@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_HOST="db.xxxxxxxxx.supabase.co"
SUPABASE_JWT_SECRET="xxxxxxxxx/xxxxxxxxx=="
POSTGRES_PRISMA_URL="postgres://postgres.xxxxxxxxx:xxxxxxxxx@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="xxxxxxxxx"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://xxxxxxxxx.supabase.co"

; FIREBASE
FIREBASE_API_KEY=XXXXXXXXXXX
FIREBASE_AUTH_DOMAIN=xxxxx.firebaseapp.com
FIREBASE_PROJECT_ID=xxxxx
FIREBASE_STORAGE_BUCKET=xxxxx.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=0000000000000
FIREBASE_APP_ID=1:0000000000000:web:XX000000
FIREBASE_DATABASE_URL=https://xxxxx-default-rtdb.europe.firebasedatabase.app
